<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--orders has id with identity-->
		<add key="parentTable" value="clients"/>
		<add key="childTable" value="orders"/>
		<add key="parentPK" value="CNP"/>
		<add key="childFK" value="customer_CNP"/>
		
		<!--sponsorship_organizations has id, name, location with identity-->
		<!--<add key="parentTable" value="sponsor"/>
		<add key="childTable" value="sponsorship_organizations"/>
		<add key="parentPK" value="sp_id"/>
		<add key="childFK" value="sp_id"/>-->
		
		<!--collaborator has id with identity-->
		<!--<add key="parentTable" value="fashion_collection"/>
		<add key="childTable" value="collaborator"/>
		<add key="parentPK" value="collection_name"/>
		<add key="childFK" value="collection_of_collaboration"/>-->
		
	</appSettings>
	<connectionStrings>
		<add name="clothes_company_DB" connectionString="Data Source = DESKTOP-5K2EO8O\MSSQLSERVER01; Initial Catalog = clothes_company_DB; Integrated Security = SSPI"/>
	</connectionStrings>
</configuration>